.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 3em;
}

.container .product-image-container {
  width: 35em;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  margin-bottom: 3em;
}
