.main-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

/* reset.css */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Remove focus outlines on some elements */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Remove anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset form elements */
button,
input,
select,
textarea {
  margin: 0;
}

/* Remove border on image inputs */
img {
  border-style: none;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
